@media screen and (max-width:500px) { 
   .ham_menu{
   display:block;
   margin-top:20px;
   } 
   .container{
    flex-direction: row;
}
    .btn_container{
        display:none;
    }
 .section-title {
        font-size: 28px;
    }

    .image-description {
        font-size: 14px;
    }

}